body {
  font-family: segoe ui,verdana,sans-serif;
  height: 700pt;
}

ul {
  list-style-type: none;
  margin: 0pt;
  padding: 0pt;
}

ul.horizontal > li {
  display: inline;
}

.panel {
  border: 2pt solid #444444;
  width:99.5%;
  height:100%;
  overflow: hidden;
  box-shadow: 3pt 3pt 3pt rgba(0, 0, 0, 0.22);
}

ul.vertical.panel {
  margin: 0;
  border: none;
  padding-right: 10pt;
  box-shadow: none;
  padding-bottom: 10pt;
}

ul.horizontal.panel {
  border: none;
  padding-bottom: 10pt;
  box-shadow: none;

  padding-right: 10pt;
  width: 100%;
}

ul.horizontal.panel > li {
  display: inline-block;
  margin-left: 5pt;
  vertical-align: top;
}

ul.horizontal.panel > li:first-child {
  margin-left: 0;
}

ul.vertical.panel > li {
  margin-top: 10pt;
  display: block;
}

ul.vertical.panel > li:first-child {
  margin-top: 0;
}

.top-section {
  height: 350px;
}

.project {
  width: 20%;
  height: 100%;
}

.canvas {
  width: 53.8%;
  height: 100%;
}

.properties.panel {
  width: 23%;
  height: 100%;
}

svg {
  position:absolute;
}

ul.horizontal.tabs {

  height: 19pt;
  background: #CBE4E4;
  padding: 8pt 0 0;
}

ul.horizontal.tabs > li {
  display: inline;
  padding: 4pt 12pt 3pt;
  cursor: pointer;  
  background: none repeat scroll 0 0 #E8E8E8;
  border-radius: 8pt 8pt 0pt 0pt;
  height: 37pt;
  margin-bottom: -2pt;
  margin-top: 3pt;
  margin-left: 0pt;
  width: 41pt;
}

ul.horizontal.tabs > li.active {
  background: white;
}

.container > * {
  padding: 10pt;
}

.container {
  overflow-y: scroll;
  height: 236pt;
}

.emotions .buttons {    
  margin-bottom: 10pt;
}

.emotions .buttons > li {  
  cursor: pointer;
}

.item-list > li {  
  margin-bottom: 6pt;
  cursor: pointer;
  border-radius: 5pt 5pt 5pt 5pt;
}

ul.tree li {
  margin-bottom: 6pt;
  cursor: pointer;
  border-radius: 5pt 5pt 5pt 5pt;
}

.tree ul {
  margin-left: 20pt;
}

.tree li.selected {
  background: #BEF4F9;
}

.item-list > li.selected {
  background: #BEF4F9;
}

.properties ul{

  padding: 10pt;
}

.properties li {

  margin-bottom: 6pt;
  padding: 3pt 0pt;
}

.properties li label {
  margin-right: 10pt;
  display: inline-block;
  width: 63pt;
}

.properties li input {

}

.live {
  background: url('../images/sitting.png');
  height: 15pt;
  display: inline-block;
  width: 15pt;
  background-size: 15pt 15pt;
  opacity: 0.5;
  vertical-align: middle;
  border: 2pt solid #BABABA;
  border-radius: 4pt;
  cursor: pointer;
  margin-right: 4pt;
}

.live.active {
  background: url('../images/runner.png');
  background-size: 15pt 15pt;
  opacity: 1;
  border-color: #C10000;
}
