/*.canvas {
    position: absolute;
    left:0;
    top:0;
}*/

ul {
  list-style-type: none;
  margin: 0pt;
  padding: 0pt;
}

.panel {
  border: 2pt solid #444444;
  width:99.5%;
  height:100%;
  overflow: hidden;
  box-shadow: 3pt 3pt 3pt rgba(0, 0, 0, 0.22);
}

.vertical.panel {
  margin: 0;
  border: none;
  padding-right: 10pt;
  box-shadow: none;
	padding-bottom: 10pt;
}

.horizontal.panel {
  border: none;
  padding-bottom: 10pt;
  box-shadow: none;

	padding-right: 10pt;
	width: 100%;
}

.horizontal.panel > li {
  display: inline-block;
  margin-left: 5pt;
}

.horizontal.panel > li:first-child {
  margin-left: 0;
}

.vertical.panel > li {
  margin-top: 10pt;
  display: block;
}

.vertical.panel > li:first-child {
  margin-top: 0;
}

.top-section {
  height: 350px;
}

.project {
  width: 20%;
  height: 100%;
}

.canvas {
  width: 53.8%;
  height: 100%;
}

.html.panel {
  width: 24%;
  height: 100%;
}

.timeline {
  width: 100%;
  height: 200px
}
.timeline > div {
  
	height: 100%;
	width: 100%;
}

.timeline .graph {
  
	height: 85%;
	width: 100%;
}

.timeline .graph .position{
  
	width: 2pt;
	height: 100%;
        background-color: green;
}

.timeline .status-bar {
  
	width: 100%;
	background-color: gray;
	height: 15%;
}

.html.panel textarea {
  resize:none;
  width: 100%;
  height: 100%;
}

svg {
  position:absolute;
}
